<h1>{{title}}</h1>

<div id='header'>
    <a href="/" class='mr-1em header-link'>Weather</a>
    <a href="/about" class='mr-1em header-link'>About</a>
    <a href="/help" class='mr-1em header-link'>Help</a>
</div>