body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: auto;
    padding: 0 16px;

    /* enable flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    /* main content should 
    take up all leftover space */
    flex-grow: 1; 
}

h1 {
    font-size: 64px;
    margin-bottom:16px;
}


.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.mr-1em {
    margin-right: 1em;
}

#message-1 {
    font-weight: bold;
    color: #888888;
    margin-top: 3em;
}

a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

#header  {
    margin-bottom: 5em;
}


#footer {
    color: #888888;
    font-weight: lighter;
}